<div class = "intoro">
  <h5>診断結果</h5>
  <p>あなたにおすすめのカクテルは・・・</p>
</div>
<div class= "shindankekka">
  <% if @perfume.question == "11" %>
    <h6>ストロベリーダイキリ</h6>
    <p>ストロベリーダイキリは、白いキューバンラム、ライムジュース、砂糖、いちごをシェイクして作るカクテルで、甘さと酸味のバランスが良く、フルーティーな味わいも楽しめます。また、いちごの鮮やかなピンク色も美しく、女性にも人気の高いカクテルのひとつです。</p>
  <% elsif @perfume.question == "12" %>
    <h6>ピニャコラーダ</h6>
    <p>ム酒、パイナップルジュース、ココナッツクリームをシェークした甘くてフルーティーなカクテル。パイナップルやチェリーを飾って盛り付けるのが一般的です。</p>
  <% elsif @perfume.question == "13" %>
    <h6>フルーティ・マージョリー</h6>
    <p>テキーラ、グレープフルーツジュース、ライムジュース、ラズベリーシロップをシェークした、ラズベリーの甘酸っぱい香りが魅力的なカクテル。</p>
  <% elsif @perfume.question == "21" %>
    <h6>ブラッディ・マリー</h6>
    <p>トマトジュースをベースにウォッカ、ウスターソース、タバスコ、レモン汁、塩、胡椒などを加えて作るカクテルで、辛さと酸味のバランスが絶妙で、スパイシーな味わいが特徴です。</p>
  <% elsif @perfume.question == "22" %>
    <h6>スパイシー・ガーデン</h6>
    <p>ハバネロやジンジャー、ミントなどのスパイシーな材料を使用したカクテルで、見た目も美しいです。グラスにはミントの葉が飾られ、砕いた氷がたっぷり入っているのが特徴です。</p>
  <% elsif @perfume.question == "23" %>
    <h6>ファイアーボール・ショット</h6>
    <p>シナモンフレーバーのウイスキー「ファイアーボール」をベースにしたショットで、見た目も辛さも強烈です。火をつけて飲むことができるので、パフォーマンス性も高く、パーティーなどで人気があります。</p>
  <% elsif @perfume.question == "31" %>
    <h6>マルガリータ</h6>
    <p>テキーラ、コアントロー、ライムジュースを使ったメキシコ発祥のカクテルで、酸っぱい味わいが特徴的です。塩をふったグラスに注がれることが多く、塩とライムの風味が加わり、味のバランスが良くなります。</p>
  <% elsif @perfume.question == "32" %>
    <h6>ピンク・レディー</h6>
    <p>ジン、グレナデンシロップ、レモンジュース、卵白を使ったカクテルで、見た目がとても美しいです。ピンク色のグラスに注がれることが多く、レモンの酸っぱさが加わり、味のバランスも良くなっています。</p>
  <% elsif @perfume.question == "33" %>
    <h6>レモンドロップ</h6>
    <p>ウォッカ、レモンジュース、トリプルセック、シロップを使ったカクテルで、レモンの香りが特徴的です。グラスの縁に砂糖をつけて注がれることが多く、甘酸っぱい味わいと、レモンの香りが調和しています。</p>
  <% end %>
</div>
<%= link_to "TOPへ" , sakes_path %>
