.toppage{
    display: flex;
    height: 710PX;
}

.topright{
    background-image: url("topright.jpg");
    background-size: cover;
    width: 100%;
}

.topleft{
    background-image: url("topleft.png");
    background-size: cover;
    width: 100%;
}
